/*
 * -------------------------------------------------
 *  nextCOV: Nextflow config file
 * -------------------------------------------------
 */

params{
// default settings
input = "data/*_R{1,2}_001.fastq.gz"
output= "results"

// Trimming Section
trimUse = "fastp"
mode = "local"
adapter = "$projectDir/resources/adapters/TruSeq3-PE-2.fa"

//alignment
gff = "$projectDir/resources/Sars_cov_2.ASM985889v3.101.gff3"
ref= "$projectDir/resources/Sars_cov_2.ASM985889v3.dna.toplevel.fa"

//primertrimming
skipPrimerTrim = false
skipTrim = false
primers = "$projectDir/resources/primers.bed"
opticalDupPixalDis = 2500

//variant calling params
runbqsr = true

//assembly
coverageThreshold = 20
experimentalBCF = true

// external arguments
fastp_ext = "--detect_adapter_for_pe --qualified_quality_phred 30 --length_required 75 --correction"
samtools_ext = '-n'
}