/*
 * -------------------------------------------------
 *  nextCOV: Nextflow config file
 * -------------------------------------------------
 */

// default settings
params.input = "data/*_R{1,2}_001.fastq.gz"
params.output= "results"

// Trimming Section
params.trimUse = "fastp"
params.mode = "local"
params.adapter = "$projectDir/resources/adapters/TruSeq3-PE-2.fa"

//alignment
params.gff = "$projectDir/resources/Sars_cov_2.ASM985889v3.101.gff3"
params.index=true
params.ref= "$projectDir/resources/Sars_cov_2.ASM985889v3.dna.toplevel.fa"

//primertrimming
params.primerTrim = true
params.primers = "$projectDir/resources/primers.bed"

//variant calling params
params.runbqsr = false

//assembly
params.coverageThreshold = 20
params.experimentalBCF = true
